@use "../utils" as *;
@use "../global" as *;

.root {
  display: flex;
  flex-direction: column;
  overflow: auto;
  position: relative;
}
@media (min-width: 501px) {
  .root {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 500 13px/1.3 "Noto Sans JP", Helvetica, Arial, serif;
  }
}
.fixed_image {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  z-index: -1000;
}
.flex_col {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  justify-content: center;
  margin: 20% 5% 10%;
  position: relative;
  @include tn {
    column-gap: 0px;
  }
}
.content_box2 {
  background-color: rgb(255, 255, 255);
  border-radius: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  outline: 3px solid rgb(241, 182, 105);
  outline-offset: -3px;
  width: 100%;
}
.flex_col1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10% 5%;
  @include tn {
    column-gap: 0px;
  }
}
.chip {
  background-color: rgb(241, 182, 105);
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  height: fit-content;
  width: 80%;
}
.btn__text {
  align-items: center;
  color: rgb(255, 255, 255);
  display: flex;
  font: 900 16px/1.29 "Noto Sans JP", Helvetica, Arial, serif;
  height: fit-content;
  justify-content: center;
  letter-spacing: 1.5px;
  margin: 10px auto;
  text-align: center;
  width: fit-content;
  @include tn {
    font-size: 15px;
  }
}
.subtitle {
  color: rgb(241, 182, 105);
  display: flex;
  font: 400 18px/1 "Alata", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: 1.8px;
  margin: 30px 0px 0px;
  text-align: center;
  @include tn {
    align-items: flex-start;
    font-size: 18px;
  }
}
.hero_title {
  color: rgb(76, 73, 73);
  display: flex;
  font: 700 50px/1 "Noto Sans JP", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: 5px;
  margin: 5px 0px 0px;
  text-align: center;
  @include tn {
    align-items: flex-start;
    font-size: 45px;
  }
}
.flex_row {
  display: flex;
  gap: 0px 8px;
  margin: 5px 0px 0px;
  @include tn {
    column-gap: 8px;
    justify-content: center;
  }
}
.hero_title1 {
  color: rgb(76, 73, 73);
  display: flex;
  font: 700 50px/1 "Noto Sans JP", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: 5px;
  text-align: center;
  @include tn {
    align-items: flex-start;
    font-size: 45px;
  }
}
.image4 {
  height: auto;
  margin: 6px 0px 0px;
  object-fit: contain;
  width: auto;
  @include tn {
    margin: 4px 0px 0px;
  }
}
.highlight1 {
  color: rgb(76, 73, 73);
  display: flex;
  width: 90%;
  font: 700 19px/1 "Noto Sans JP", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: 0.99px;
  margin: 30px 0px 0px;
  text-align: center;
  @include tn {
    width: 90%;
    align-items: center;
    font-size: 17px;
  }
}
.image1 {
  margin: 6px 0px 0px;
  width: 85%;
  @include tn {
    width: 90%;
  }
}
.paragraph {
  color: rgb(76, 73, 73);
  display: flex;
  font: 500 13px/1.3 "Noto Sans JP", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: 1.5px;
  margin: 25px 0px 0px;
  text-align: center;
  width: 100%;
  @include tn {
    align-items: flex-start;
    font-size: 12px;
  }
}
.image2 {
  margin: 30px 13px 0px 0px;
  object-fit: contain;
  width: 90%;
  @include tn {
    max-width: 100%;
  }
}
.content_box {
  background-color: rgb(79, 190, 158);
  border-radius: 5px 5px 5px 5px;
  display: flex;
  flex-direction: column;
  width: 85%;
  @include tn {
    width: 80%;
  }
}
.flex_row1 {
  display: flex;
  justify-content: center;
  gap: 0px 29px;
  margin: 7% auto 7% auto;
  width: 70%;
  @include mq-between(xxs, xs) {
    column-gap: 29px;
    margin: 7% auto 7% auto;
    padding: 0px;
    width: auto;
  }
  @include tn {
    margin: 7% auto 7% auto;
  }
}
.flex_col2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px 0px;
  padding: 0px 0px 0px 0px;
  width: auto;
  @include tn {
    column-gap: 0px;
    justify-content: center;
  }
}
.info {
  color: rgb(255, 255, 255);
  display: flex;
  font: 400 12px/1 "Alata", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: 1.2px;
  text-align: center;
  @include mq-between(xxs, xs) {
    align-items: flex-start;
    font-size: 18px;
  }
}
.highlight {
  color: rgb(255, 255, 255);
  display: flex;
  font: 700 18px/1 "Noto Sans JP", Helvetica, Arial, serif;
  justify-content: center;
  letter-spacing: 3px;
  padding: 3px 0px 0px 0px;
  text-align: center;
  @include mq-between(xxs, xs) {
    align-items: flex-start;
    font-size: 24px;
  }
  @include tn {
    align-items: flex-start;
    font-size: 15px;
  }
}
.image3 {
  height: 6px;
  margin: auto 0px;
  object-fit: contain;
  @include tn {
    height: auto;
  }
}
